body{
    background-color: #ffbd00;
    
} 

#cabecalho{
    font-size: 30px;
    text-align: center;
    border:1px solid black;
}

.links li{
    display: inline;
}

nav{
    border: 1px solid black;
}
    
main{
    border: 1px solid black;
}

#s1{
    
}
